<p-confirmDialog key="positionDialog" position="bottom" rejectButtonStyleClass="p-button-outlined"/>

<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row align-center items-center justify-between pr-8 pl-8 pt-4 pb-3 border-b-[1px] border-black border-opacity-30">
      <h1 class="font-bold">Email</h1>
      <div class="flex flex-row gap-1">
        <button pButton class="p-button-text p-button-icon p-button-secondary" size="small" pTooltip="Return" tooltipPosition="bottom" icon="pi pi-angle-double-left" (click)="return()"></button>
        <button pButton class="p-button-text p-button-icon p-button-danger" size="small" pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" [disabled]="!email" (click)="delete()"></button>
      </div>
    </div>
  </ng-template>

  <div id="card-body">
    <div class="flex flex-col gap-4">
      <form-row>
        <form-field>
          <label for="emailId">Email ID</label>
          @if (emailId) {
            <input readonly id="emailId" type="text" pInputText aria-describedby="Email ID" [ngModel]="emailId"/>
          }
          @if (!emailId) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>

        <form-field>
          <label for="serverName">Server</label>
          @if (loaded) {
            <p-inputGroup>
              <input readonly id="serverName" type="text" pInputText aria-describedby="Email Server Name" [ngModel]="email.serverName"/>
              <button type="button" pButton icon="pi pi-eye" pTooltip="View server" tooltipPosition="bottom" class="p-button-secondary" (click)="toServer()"></button>
            </p-inputGroup>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
      </form-row>

      <form-row>
        <form-field>
          <label>Send to</label>
          @if (loaded) {
            @for (receiver of email.receivers; track receiver.id) {
              <p-inputGroup>
                <button type="button" pButton severity="secondary" [label]="receiver.type.toString()"></button>
                <input readonly type="text" pInputText aria-describedby="Receiver name and email" [ngModel]="receiver.receiverName + '<' + receiver.receiverEmail + '>'"/>
              </p-inputGroup>
            }
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
      </form-row>

      <form-row>
        <form-field>
          <label for="emailSubject">Subject</label>
          @if (loaded) {
            <p-inputGroup>
              <input readonly id="emailSubject" type="text" pInputText aria-describedby="Subject of the email" [ngModel]="email.subject"/>
              <button type="button" pButton [severity]="getSeverityColor()" [label]="email.priority.toString()"></button>
            </p-inputGroup>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
      </form-row>

      <form-row>
        <form-field>
          <label for="emailMessage">Message</label>
          @if (loaded) {
            <textarea readonly id="emailMessage" class="resize-none" pInputTextarea aria-describedby="Message of the email" [ngModel]="email.message" [rows]="5"></textarea>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
      </form-row>

      <form-row>
        <form-field>
          <label for="emailCreated">Created</label>
          @if (loaded) {
            <input readonly id="emailCreated" type="text" pInputText aria-describedby="Email creation date" ngModel="{{(email.created | date) ?? 'N/A'}}"/>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
        <form-field>
          <label for="emailSendRequested">Send requested</label>
          @if (loaded) {
            <input readonly id="emailSendRequested" type="text" pInputText aria-describedby="Email send requested date" ngModel="{{(email.sendRequested | date) ?? 'N/A'}}"/>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
        <form-field>
          <label for="emailFinished">Finished</label>
          @if (loaded) {
            <input readonly id="emailFinished" type="text" pInputText aria-describedby="Email finished date" ngModel="{{(email.completed | date) ?? 'N/A'}}"/>
          }
          @if (!loaded) {
            <p-skeleton height="50px"></p-skeleton>
          }
        </form-field>
      </form-row>

      @if (loaded && (email.transactions ?? []).length > 0) {
        <div class="w-full flex flex-col gap-1">
          <label>Transacties</label>
          @if (loaded) {
            @for (transaction of email.transactions; track transaction.id) {
              <div class="flex flex-row gap-4">
                <input readonly type="text" pInputText aria-describedby="Transaction date" ngModel="{{transaction.created | date}}"/>
                <input readonly type="text" pInputText aria-describedby="Transaction date" [ngModel]="transaction.rawResponse"/>
              </div>
            }
          }
        </div>
      }
    </div>
  </div>
</p-card>
