<p-confirmDialog key="positionDialog" position="bottom" rejectButtonStyleClass="p-button-outlined"/>

<p-card>
  <ng-template pTemplate="header">
    <div
      class="flex flex-row align-center items-center justify-between pr-8 pl-8 pt-4 pb-3 border-b-[1px] border-black border-opacity-30">
      <h1 class="font-bold">Email server</h1>
      <div class="flex flex-row gap-1">
        <button pButton class="p-button-text p-button-icon p-button-secondary" size="small" pTooltip="Return"
                tooltipPosition="bottom" icon="pi pi-angle-double-left" (click)="return()"></button>
        <button pButton class="p-button-text p-button-icon p-button-danger" size="small" pTooltip="Delete"
                tooltipPosition="bottom" icon="pi pi-trash" [disabled]="!server" (click)="delete()"></button>
      </div>
    </div>
  </ng-template>

  <div id="card-body">
    @if (server) {
      <div class="flex flex-col gap-4">
        <div class="justify-center flex flex-row gap-2">
          <p-tag [value]="serverType" severity="secondary"></p-tag>
          <p-tag [value]="server.active ? 'Active' : 'Disabled'"
                 [severity]="server.active ? 'success' : 'danger'"></p-tag>
        </div>
        <form-row>
          <form-field>
            <form-label>Name</form-label>
            <input pInputText [ngModel]="server.name" readonly/>
          </form-field>
        </form-row>

        <form-row>
          <form-field>
            <form-label>Created</form-label>
            <input pInputText ngModel="{{ server.created | date: 'yyyy-mm-dd HH:MM' }}" readonly/>
          </form-field>
          <form-field>
            <form-label>Last used</form-label>
            @if (server.lastUsed) {
              <input pInputText ngModel="{{ server.lastUsed | date: 'yyyy-mm-dd HH:MM' }}" readonly/>
            } @else {
              <input pInputText ngModel="Unused" readonly/>
            }
          </form-field>
        </form-row>
      </div>

      @if ($any(server.type) == mailServerType.Smtp) {

      } @else if ($any(server.type) == mailServerType.MicrosoftExchange) {

      } @else if ($any(server.type) == mailServerType.Google) {

      }
    } @else {

    }
  </div>
</p-card>
