<p-confirmDialog key="positionDialog" position="bottom" rejectButtonStyleClass="p-button-outlined"/>

<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row align-center items-center justify-between pr-8 pl-8 pt-4 pb-3 border-b-[1px] border-black border-opacity-30">
      <h1 class="font-bold">Emails</h1>
      <div class="flex flex-row gap-1">
        <button pButton class="p-button-text p-button-icon p-button-secondary" size="small" pTooltip="Refresh" tooltipPosition="bottom" icon="pi pi-refresh" (click)="refresh()"></button>
      </div>
    </div>
  </ng-template>

  <div id="card-body">
    <p-table [value]="emails" [scrollable]="true" scrollHeight="79dvh" class="table-auto">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 100px;">Sender<th>
          <th>Receivers</th>
          <th style="width: 200px;">Subject</th>
          <th style="width: 100px;">Priority</th>
          <th style="width: 100px;">Finished</th>
          <th style="width: 100px;"></th>
          <th style="width: 50px;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-email>
        <tr>
          <th>TODO</th>
          <th>{{ getEmailReceivers(email) }}</th>
          <td>{{ email.subject }}</td>
          <td>{{ email.priority }}</td>
          <td>{{ email.completed }}</td>
          <td>
            <p-tag [severity]="email.active ? 'success' : 'danger'">{{ email.active ? 'Active' : 'Deactivated' }}</p-tag>
          </td>
          <td class="flex flex-row gap-1">
            <button pButton pRipple size="small" pTooltip="Details" tooltipPosition="bottom" class="p-button-text p-button-icon p-button-secondary" icon="pi pi-eye" (click)="viewEmail(email)"></button>
            <button pButton pRipple size="small" pTooltip="Delete" tooltipPosition="bottom" class="p-button-text p-button-icon p-button p-button-danger" icon="pi pi-trash" (click)="deleteEmail(email)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
