<div class="w-dvw h-dvh flex justify-center items-center">
  <div class="max-w-[600px] w-full">
    <p-card>
      <div class="max-w-72 mr-auto ml-auto mb-4">
        <img src="/providers/exchange-small.png" alt="exchange-logo" class="w-full"/>
      </div>
      @if (state == 'process') {
        <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"/>
      } @else if (state == "error") {
        <p class="font-bold text-red-500 text-center">{{ message }}</p>
      } @else if (state == "success") {
        <div>
          <p class="font-bold text-green-500 text-center">{{ message }}</p>

          <p-inputgroup class="mt-2" *ngIf="showNameChange">
            <input #servername type="text" pInputText placeholder="Give a name to the new email server"/>
            <p-button icon="pi pi-check" severity="success" (onClick)="setServerName(servername.value)"></p-button>
          </p-inputgroup>
        </div>
      }
      @if (state == "success" || state == "error") {
        <div class="mt-8 flex flex-row gap-5 w-full align-middle justify-center">
          <p-button severity="secondary" label="View all emails" (click)="navigateToMails()"></p-button>
          <p-button severity="secondary" label="View all mailservers" (click)="navigateToMailServers()"></p-button>
        </div>
      }
    </p-card>
  </div>
</div>
