<p-card>
  <ng-template pTemplate="header">
    <div class="flex flex-row align-center items-center justify-between pr-8 pl-8 pt-4 pb-3 border-b-[1px] border-black border-opacity-30">
      <h1 class="font-bold">Add SMTP server</h1>
      <div class="flex flex-row gap-1">
        <button pButton class="p-button-text p-button-icon p-button-secondary" size="small" pTooltip="Return" tooltipPosition="bottom" icon="pi pi-angle-double-left" (click)="return()"></button>
        <button pButton class="p-button-text p-button-icon p-button-success" size="small" pTooltip="Add server" tooltipPosition="bottom" icon="pi pi-check" [disabled]="!canSave" (click)="addServer()"></button>
      </div>
    </div>
  </ng-template>

  <div id="card-body">
    <div class="flex flex-col gap-4">
      <form-row>
        <form-field>
          <label for="name">Naam</label>
          <input pInputText id="name" [(ngModel)]="smtp.name" placeholder="Enter the SMTP name for identification"/>
        </form-field>
      </form-row>

      <form-row>
        <form-field>
          <label for="host">Host</label>
          <p-inputGroup>
            <input pInputText id="host" [(ngModel)]="smtp.host" placeholder="Enter the SMTP host"/>
            @if (smtp.ssl) {
              <button type="button" (click)="smtp.ssl = false" pRipple pButton icon="pi pi-check" class="p-button-success" label="SSL/TLS"></button>
            }
            @if (!smtp.ssl) {
              <button type="button" (click)="smtp.ssl = true" pRipple pButton icon="pi pi-times" class="p-button-danger" label="SSL/TLS"></button>
            }
          </p-inputGroup>
        </form-field>

        <form-field>
          <label for="port">Port</label>
          <input pInputText id="port" type="number" [(ngModel)]="smtp.port" placeholder="Enter the SMTP host"/>
        </form-field>
      </form-row>
    </div>
  </div>
</p-card>
