@import "primeicons/primeicons.css";

.p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-header {
  background-color: white;
}

.p-datatable .p-datatable-header {
  border-bottom: 1px #e5e7eb solid;
  border-top: 0;
}

.p-speeddial-direction-up {
  &.speeddial-right {
    right: 20px;
    bottom: 20px;
  }
}
